html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#topBar {
    text-align: center;
    background-color: rgb(153, 153, 153);
}

#placeholderNote {
    text-align: center;
    background-color: red;
}

h3{
	vertical-align: center;
	margin-top:15px;
}

h4 {
    margin-bottom: 0;
}

#leftControl, #markerSpace, #rightControl {
    text-align: center;
	min-width: 200px;
	margin-top: 20px; 
}

.row {
    height: 100%;
}

#tMarkButtons, #aMarkButtons, #mMarkButtons {
    position: absolute;
    bottom: 40px;
    left: 15px;
}

#tAreaHeader, #aAreaHeader, #mAreaHeader {
    position: absolute;
    top: 10px;
    margin-bottom: 0;
}

.jumbotron {
	min-height:200px;
}

.img-fluid {
    max-height: 300px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    padding-top: 50px;
    text-align: right;
    filter: alpha(opacity=0);
    outline: none;   
    cursor: inherit;
    display: block;
}

.higher {
	margin-bottom:20px;
}
hr.solid {
  border-top: 3px solid #555;
}